Makefile
Makefile.in
autom4te.cache
bin/.deps/
bin/Makefile
bin/Makefile.in
bin/MongoBlog
bin/MongoBlog.o
config.log
config.status
configure
src/.deps/
*.la
*.lo
*.o
libtool
libs/Template/.deps/
libs/Template/.libs/
bin/.libs/
libs/.deps/
libs/.libs/
